tqdm==4.67.1
koronascript==0.2
xarray==2025.6.1
matplotlib==3.10.5
pandas==2.3.1
netCDF4==1.7.2
numpy==2.2.6
ektools==0.1.1
polars==1.32.2
dask~=2025.7.0
requests==2.32.4
bs4==0.0.2
scikit-image==0.25.2
opencv-python==4.12.0.88
regex
